[client]
datadir=/var/lib/mysql
# socket=/var/lib/mysql/mysql.sock
user={{ mysql_login }}
password={{ mysql_root_password }}
bind-address=0.0.0.0
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
port={{ mysql_port }}

[mysql_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysqld]
bind-address=0.0.0.0